  <div class="row">
        <div class="my-2 w-25 ">
            <app-select [data]="categories" [title]="'Categories'" (selectedValue)="filterCategory($event)">  </app-select>
        </div> 
            <div class="row" *ngIf="!loading">
                    <div class="col-md-4" *ngFor="let item of productList" >
                        <app-product [data]="item" (item)="addToCard($event)"></app-product>
                    </div>
            </div>
            <div class="text-center w-100 spinner" *ngIf="loading">
                <app-spinner></app-spinner>
            </div>
  </div>
