<div class="card">
    <div routerLink="/details/{{data.id}}">
    <img [src]="data.image" alt="image">
    <h5>{{data.title}}</h5>
    <p class="desc">{{data.description}}</p>
    <p class="price"><strong>Price : </strong>{{data.price}} EGP</p>
    </div>
    <button class="btn btn-primary" *ngIf="!addButton" (click)="addButton = true">Add To Cart</button>
    <div class="d-flex" *ngIf="addButton" >
        <input type="number" class="form-control" [(ngModel)]="amount">
        <button class="btn btn-danger" (click)="add(); addButton=false">Add</button>
    </div>
</div>

