 h5,
.desc{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
 .card{
    padding: 15px;
    margin-left: 5rem;
    margin-top: 10px;
} 

.card img{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    overflow: hidden;
}
.card img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}
.btn-danger{
    margin-top: 5px;
}
.price{
    color:green;
    font-weight: 700;
}  
img{
    display: flex;
    justify-content: center;
}
.btn-primary{
    background: white;
    color:black;
    border: 1px solid black;
}